
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Droid Sans"),
    url("/assets/fonts/droid-sans.woff2") format("woff2"),
    url("/assets/fonts/droid-sans.woff") format("woff");
}

@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Droid Sans Bold"),
    url("/assets/fonts/Droid Sans Bold V2.woff2") format("woff2"),
    url("/assets/fonts/Droid Sans Bold V2.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins"), url("/assets/fonts/Poppins.woff2") format("woff2"),
    url("/assets/fonts/Poppins.woff") format("woff");
}

