.guitar-list__item {
  border: 1px solid #dddada;
  width: 220px;
  min-height: 304px;
  padding: 16px 14px 18px 14px;
}

.guitar-list__item-img {
  overflow: hidden;
  margin-left: 62px;
}

.guitar-list__item-description-block,
.guitar-list__item-buttons-block {
  display: flex;
  justify-content: space-between;
}

.guitar-list__item-description-block {
  padding: 4px 0 11px 0;
}

.guitar-list__item-description-block span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.04em;
}



.guitar-list__item-button {
  font-family: "Droid Sans", "Arial", serif;
  padding: 6px 10px 4px 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  outline: none;
  border: none;
  color: $white;
  border-radius: 2px;
  cursor: pointer;
}

.guitar-list__item-button--grey {
  background-color: #c1c1c1;
  padding-right: 7px;
}

.guitar-list__item-button--brown {
  display: flex;
  align-items: center;
  background-color: #e27f00;
  padding-left: 8px;
}

.guitar-list__item-button--brown:hover {
  background-color: #da8b26;
}

.guitar-list__item-button--brown img {
  margin-right: 9px;
}
